.hs-carousel-pagination .active {
  background-color: #0b0b43;
  border: none;
}
.Facts {
  background-image: url(/Facts.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.my-section {
  height: calc(100vh - 60px);

}

